Video timestamps/__pycache__
Video timestamps/.vscode
Video timestamps/Auxillary files
Video timestamps/Images/*
Video timestamps/Videos/*
Audio/Include
Audio/Lib
Audio/Scripts
Audio/pyvenv.cfg
Audio/AudioChunks
Audio/ChunkData
Audio/NormalizedAudio
Audio/SampleAudio
Audio/SampleVideo
