Video timestamps/__pycache__
Video timestamps/.vscode
Video timestamps/Auxillary files
Video timestamps/Images/*
Video timestamps/Videos/*
Video timestamps/transitionpoints.txt
Audio/AudioChunks
Audio/ChunkData
Audio/NormalizedAudio
Audio/SampleAudio
Audio/SampleVideo
workspace.code-workspace
